html, body {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #000;
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: none;
}

#terminal {
    position: absolute;
    top: 1em;
    left: 1em;
    overflow: hidden;
}

#terminal div {
    font-family: Monaco, "Lucida Console", monospace;
    font-size: 12pt;
    border-left: 0.4em solid #fff;
    color: #fff;
    opacity: 0.67;
    padding-left: 0.4em;
    margin-bottom: 0.2em;
}

#terminal div:first-child {
    opacity: 1.0;
}

#startButton, #programButton {
    width: 8em;
    height: 2em;
    background-color: #444;
    color: #fff;
    border:0.1em solid #888;
    font-weight: bold;
    font-size: 14pt;
    line-height: 2em;
    text-align: center;
}

#programButton {
	margin-top: 2em;
    width: 100%;
}

#startButton {
	font-family: Monaco, "Lucida Console", monospace;
	visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -4em;
    margin-top: -1em;
}

#startButton:hover, #programButton:hover {
    background-color: #666;
    cursor: pointer;
}

#programForm {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#programForm form {
	font-family: Monaco, "Lucida Console", monospace;
	background-color: #333;
	border:0.1em solid #aaa;
	color: #fff;
	margin: 4em auto;
	padding: 1em;
	min-width: 22em;
	max-width: 26em;
}

#programForm form h1 {
	margin: 0 0 0.4em 0;
	padding: 0;
}

#programForm form .group {
	margin-bottom: 1em;
}


#programForm form .group b {
	display: block;
	margin-left: 1em;
}

#programForm form .group div {
	margin: 0.4em 0 0 2em;
	font-size: 0.8em;
}

#programForm form .group input, #programForm form .group select {
	margin-left: 2em;
	font-size: 0.8em;
	width: 20em;
	padding: 0.2em;
	color: #fff;
	border:0.1em solid #aaa;
	background-color: #111;
}

#resultBox {
	position:absolute;
	bottom: 1em;
	right: 1em;
	width: 10%;
	height: 6%;
	overflow: auto;
	color: #777;
	border:0.1em solid #aaa;
	background-color: #111;
	font-size: 11pt;
	padding: 0.5em;
	resize: none;
}
